  @import url('https://fonts.googleapis.com/css2?family=Rasa:wght@600&display=swap');
  
  .title{
    font-family: 'Rasa', serif;
    font-size: 2.25rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  .logo:hover {
    transform: scale(1.1);
  }
  
  .navbar-content {
    font-size: large;
  }
  
  .navbar-color {
    background-color: #70c745;
  }
  
  .linkText {
    color: white;
  }
  
  .linkText:hover {
    color: black;
  }
  
  /* .dropdown-text {
    color: white;
  }
  
  .dropdown-text:hover {
    color: #70c745;
  } */
  
  /*.nav-dropdown{
    color: white;
    background-color: black;
  }*/