.loginSignUp-page{
    width: fit-content;
    margin: 8vh auto 0;
    border: 3px solid black;
    border-radius: 8px;
    background: #77D970;
}

.nav-tabs .nav-link{
    width: 50%;
    background: white;
    color: #1C7947;
    text-align: center;
}

.nav-tabs .nav-link.active {
    background-color: #1C7947;
    color: white !important;
}

.login-form,
.register-form {
  height: auto;
}

@media (min-width: 480px) {
  .login-form,
  .register-form,
  .login-header,
  .register-header {
    width: 450px;
  }

  .login-form .form-control,
  .register-form .form-control {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .login-form,
  .register-form,
  .login-header,
  .register-header {
    width: 600px;
  }

  .login-form .form-control,
  .register-form .form-control {
    width: 450px;
  }
}

.login-form .form-label,
.register-form .form-label {
  height: 34px;
  width: 95px;
  font-weight: bold;
  color: #025955;
  margin-left: 3vmin;
  margin-top: 2vmin;
  font-size: 17px;
  line-height: 24px;
}

.login-form .form-control,
.register-form .form-control {
  float: right;
  height: 45px;
  margin-right: 2vmin;
  border: 3px solid #0e6b3e;
  border-radius: 3px;
}

.center {
    text-align: center;
}

@media (max-width: 480px) {
    .fields{
        margin-bottom: 4rem;
    }
}