.home-background{
    width: 100%;
    height: calc(100vh - 68px);
    background: url(home-background.jfif);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-bot{
    height: 80vh;
    width: 40vw;
    background-color: white;
    /* border: 3px solid #0E6B3E; */
    border-radius: 30px;
}

.chat-header{
    height: 10%;
    width: 100%;
    background: #02AA53;
    border-radius: 30px 30px 0 0;
}

.bot-image{
    height: 80%;
    margin: 8px 0 0 24px;
}

.chat-body{
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    overflow-y: auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
}

.chat-message{
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 7px;
    background-color: #e1e1e1;
    margin-bottom: 16px;
    max-width: 80%;
    word-wrap: break-word;
}

.chat-receiver{
    margin-left: auto;
    background-color: #B1E693;
}

.chat-name{
    display: block;
    font-weight: 700;
    font-size: small;
} 

.chat-timestamp{
    margin-top: 4px;
    font-size: xx-small;
    float: right;
}

.chat-footer{
    height: 10%;
    width: 100%;
    background: #02AA53;
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-footer > form{
    flex: 1;
    display: flex;
    height: 60%;
    width: 50%;
}

.chat-footer > form > input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline-width: 0;
    font-size: 17px;
}

::placeholder {
    color: #919191;
}

#messageSubmit{
    display: none;
}

@media screen and (max-width: 769px) {
    .chat-bot{
        width: 60vw;
    }
}

@media screen and (max-width: 426px) {
    .chat-bot{
        width: 80vw;
    }

    .icon-button{
        padding: 0 4px !important;
    }
}

@media screen and (max-width: 384px) {
    .icon-button{
        padding: 0 4px !important;
    }

    .chat-footer > form > input{
        font-size: 14px;
    }
}



